* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/Roboto-Regular.tff");
}

body {
	font-family:"Roboto", sans-serif;
	/*background-color: blue;*/
}

/*--------header styles----------------------*/
.header {
	height: 93vh;
	background-image: url(../images/code-coder-codes-2194062.jpg);
	background-size: cover;
}	
.header h1 {
	padding-top: 30vh;
	font-size: 90px;
	font-weight: 800;
	color: white;
	text-align: center;
}
.header h4 {
	padding-bottom: 50vh;
	font-size: 20px;
	font-weight: 100;
	color: white;
	text-align: center;
}
#pic {
	color: white;
}
#hub {
	color: yellow;
}

/*--------NavBar and Logo styles----------------------*/

.navBar {
	position: sticky;
  	top: 0;
	margin-top: 5px;
	height: 7vh;
	background-color: yellow;
}

.navBar a {
	
	width: 120px;
	height: 7vh;
	font-size: 20px;
	background-color: yellow;
	color: black;
	text-decoration: none;
	padding: 5px;
	float: right;
	text-align: center;
}
.navBar a:hover {
	background-color: black;
	color: white;
}
#home {
	background-image: url(../images/logo-ph.png);
	background-size: cover;
	width: 60px;
	height: 7vh;
	float: left;
	border: solid yellow 1px;
}

/*--------NavBar and Logo styles----------------------*/

.column {
	float: left; 
	width: 25%;
	padding: 10px 10px 0 10px;
	height: 20vw;
	/*background-color: blue;*/
}

.row:after{
	display: block;
	content: "";	/*add nothing after row*/
	clear: both; clear /*floats on both sides*/
}
.card{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	 width: 95%;
	 height: 15vw;
	 background-image: url(../images/logo-ph.png);
	 background-size: cover;

}
.card h1 {
	color: white;
	font-size: 30px;
	font-weight: 600;
	padding-top: 5%;
	text-align: center; 
}



@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		height: 62.5vw;
		display: block;
		margin-bottom: 10px;
		padding-left: 25px;

	}

	.card {
		width: 95%;
	 	height: 58.7vw;
	}	
}
/*-------Another hover effect------------*/


#aboutImage {
	width: 30%;
	opacity: 1;
}

/*.hova:hover #aboutImage {
	opacity: 0.2;
}
*/
.hova a:hover {
	opacity: 0.2;
}
/*-----------footer------------------------*/
.footer {
  padding: 20px; 
  text-align: center; 
  background: #999; 
}

.shado{
	 box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
	 width: 95%;
	 height: 80vh;
	 background-image: url(../images/logo-ph.png);
	 background-size: cover;
